@model IEnumerable<NguyenVietTien.SachOnline.Models.SACH>
<!-- PHẦN SÁCH BÁN NHIỀU -->
@helper truncate(string str, int length)
{
    if (str.Length < length)
    {
        @str
    }
    else
    {
        @str.Substring(0, length)<text>...</text>
    }

}

<div class="container">
    <h2 class="text-center">SÁCH BÁN NHIỀU</h2>
    <hr>

    @{
        var left = Model.Take(3).ToList();
        var right = Model.Skip(3).Take(3).ToList();
    }

    <div class="row">

        <div class="col-lg-6 col-md-6">
            <div class="media-object-default">
                @foreach (var sachBanNhieu in left)
                {
                    <div class="media">
                        <div class="media-left">
                            <a href="@Url.Action("ChiTietSach", "NguyenVietTien_SachOnline", new { id = sachBanNhieu.MaSach })"><img class="media-object imgsachbannhieu" src="~/Images/@sachBanNhieu.AnhBia" alt="placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@sachBanNhieu.TenSach</h4>
                            @truncate(sachBanNhieu.MoTa, 190)
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="col-lg-6 col-md-6">
            <div class="media-object-default">
                @foreach (var sachBanNhieu in right)
                {
                    <div class="media">
                        <div class="media-left">
                            <a href="@Url.Action("ChiTietSach", "NguyenVietTien_SachOnline", new { id = sachBanNhieu.MaSach })"><img class="media-object imgsachbannhieu" src="~/Images/@sachBanNhieu.AnhBia" alt="placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@sachBanNhieu.TenSach</h4>
                            @truncate(sachBanNhieu.MoTa, 190)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <hr>
</div>